* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    position: relative;
    font-size: 12px;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

a {
    text-decoration: none
}



#container {
    width: 100%;
    margin: 0 auto;
    min-height: 1000px;
}

//

/*头部开始*/

#header {
    box-shadow: 0 2px 2px #ddd;
}

.mfw-header {
    width: 1000px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    background-color: #fff;

    .logo {
        float: left;
        padding: 13px 0;
        a {
            display: block;
            width: 136px;
            height: 33px;
            background: url(../images/header-small-sprites.png) no-repeat 0 0;
        }
    }
    .nav {
        float: left;
        padding: 0 10px 0 25px;
        font-size: 14px;
        li {
            float: left;
            a {
                display: inline-block;
                padding: 0 16px;
                color: #333;
            }
        }
    }
    .login {
        float: right;
        height: 26px;
        padding: 16px 0;

        a {
            display: inline-block;
            float: left;
            width: 26px;
            height: 26px;
            color: #ff9d00;
            font-size: 14px;
        }
        .weibo-login,
        .qq-login,
        .weixin-login {
            width: 26px;
            height: 26px;
            line-height: 26px;
            margin-right: 10px;
        }
        .weibo-login {
            background: url(../images/header-sprites13.png) no-repeat 0 -50px;
        }
        .qq-login {
            background: url(../images/header-sprites13.png) no-repeat -30px -50px;
        }
        .weixin-login {
            background: url(../images/header-sprites13.png) no-repeat 0 -165px;
        }
        .login-in,
        .reg {
            display: inline-block;
            width: auto;
            line-height: 26px;
        }

        .split {
            display: inline-block;
            float: left;
            line-height: 26px;
            margin: 0 10px;
            color: #c9c9c9;
        }
    }
}

//

/*头部结束*/


/*轮播开始*/

// 轮播激活small-slider当前li添加类
.active {
    box-shadow: 0 0 0 2px #ff9d00;
    border-radius: 0 5px 0 0;
}

#slider {
    position: relative;
    margin: 0 auto;
    #slider-box {
        height: 421px;
    }
    .show {
        position: relative;
        li {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            img {
                height: 421px;
            }
            .date {
                position: absolute;
                top: 20px;
                left: 130px;
                font-size: 20px;
                color: #fff;
                text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
                .day {
                    font-size: 30px;
                    text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
                }
                h3 {
                    font-size: 20px;
                    font-weight: normal;
                }
            }
            p {
                position: absolute;
                left: 50%;
                bottom: 25px;
                margin-left: -263px;

                font-size: 14px;
                color: #fff;
                a {
                    color: rgb(255, 153, 0);
                }
            }
        }
        .first {
            display: block;
        }
    }
    #slider-small {
        position: absolute;
        right: 5%;
        top: 4%; // width: 110px;
        .side-slider {
            position: relative;
            width: 110px;
            li {
                // width: 110px;
                // height: 62px;
                margin-bottom: 5px;
                img {
                    display: block;
                    width: 100%;
                    height: 62px;
                    margin: 0 auto;
                    border-radius: 0 5px 0 0;
                }
            }
        }
        .more {
            display: block;
            width: 110px;
            height: 35px;
            margin-top: 15px;
            background: url(../images/index-sprites9.png) no-repeat -60px -50px;
        }
    }
}