* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    position: relative;
    font-size: 12px;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

a {
    text-decoration: none
}



#container {
    width: 100%;
    margin: 0 auto;
    min-height: 1000px;
} //

/*头部开始*/

#header {
    margin: 0 auto;
    box-shadow: 0 2px 2px #ddd;
}

.mfw-header {
    width: 1000px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    background-color: #fff;

    .logo {
        float: left;
        padding: 13px 0;
        a {
            display: block;
            width: 136px;
            height: 33px;
            background: url(../images/header-small-sprites.png) no-repeat 0 0;
        }
    }
    .nav {
        float: left;
        padding: 0 10px 0 25px;
        font-size: 14px;
        li {
            float: left;
            a {
                display: inline-block;
                padding: 0 16px;
                color: #333;
            }
        }
    }
    .login {
        float: right;
        height: 26px;
        padding: 16px 0;

        a {
            display: inline-block;
            float: left;
            width: 26px;
            height: 26px;
            color: #ff9d00;
            font-size: 14px;
        }
        .weibo-login,
        .qq-login,
        .weixin-login {
            width: 26px;
            height: 26px;
            line-height: 26px;
            margin-right: 10px;
        }
        .weibo-login {
            background: url(../images/header-sprites13.png) no-repeat 0 -50px;
        }
        .qq-login {
            background: url(../images/header-sprites13.png) no-repeat -30px -50px;
        }
        .weixin-login {
            background: url(../images/header-sprites13.png) no-repeat 0 -165px;
        }
        .login-in,
        .reg {
            display: inline-block;
            width: auto;
            line-height: 26px;
        }

        .split {
            display: inline-block;
            float: left;
            line-height: 26px;
            margin: 0 10px;
            color: #c9c9c9;
        }
    }
} //

/*头部结束*/


/*轮播开始*/

// 轮播激活small-slider当前li添加类
.active {
    box-shadow: 0 0 0 2px #ff9d00;
    border-radius: 0 5px 0 0;
}

#slider {
    position: relative;
    margin: 0 auto 20px;
    #slider-box {
        height: 421px;
    }
    .show {
        position: relative;
        li {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            img {
                height: 421px;
            }
            .date {
                position: absolute;
                top: 20px;
                left: 130px;
                font-size: 20px;
                color: #fff;
                text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
                .day {
                    font-size: 30px;
                    text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
                }
                h3 {
                    font-size: 20px;
                    font-weight: normal;
                }
            }
            p {
                position: absolute;
                left: 50%;
                bottom: 25px;
                margin-left: -263px;

                font-size: 14px;
                color: #fff;
                a {
                    color: rgb(255, 153, 0);
                }
            }
        }
        .first {
            display: block;
        }
    }
    #slider-small {
        position: absolute;
        right: 5%;
        top: 4%; // width: 110px;
        .side-slider {
            position: relative;
            width: 110px;
            li {
                // width: 110px;
                // height: 62px;
                margin-bottom: 5px;
                img {
                    display: block;
                    width: 100%;
                    height: 62px;
                    margin: 0 auto;
                    border-radius: 0 5px 0 0;
                }
            }
        }
        .more {
            display: block;
            width: 110px;
            height: 35px;
            margin-top: 15px;
            background: url(../images/index-sprites9.png) no-repeat -60px -50px;
        }
    }
    #search {
        position: absolute;
        left: 50%;
        bottom: 12%;
        width: 538px;
        height: 70px;
        margin-left: -269px;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        .search-check {
            height: 26px;
            line-height: 26px;
            margin-bottom: 7px;
            >ul {
                >li {
                    float: left;
                    height: 26px;
                    line-height: 26px;
                    margin-right: 20px;
                    font-size: 14px;
                    color: #fff;
                    cursor: pointer;
                    >i {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                        margin-right: 5px;

                        background: url(../images/header-sprites13.png) no-repeat -60px -110px;
                    }
                }
            }
        }
        .search-input {
            float: left;
            height: 36px;
            line-height: 36px;
            input {
                width: 450px;
                height: 36px;
                padding-left: 20px;
                color: #666;
                outline: none;
                border: none;
                border-radius: 5px;
            }
        }
        .search-button {
            float: left;
            margin-left: 5px;

            a {
                display: block;
                width: 40px;
                height: 36px;
                line-height: 36px;
                text-align: center;

                background-color: #ff9d00;
                border-radius: 4px;
                i {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                    background: url(../images/header-sprites13.png) no-repeat 0 -110px;
                }
            }
        }
    }
} //

/*轮播结束*/


/*正文开始*/

.box-hd {
    height: 35px;
    line-height: 35px;
    margin-bottom: 12px;
    .title {
        float: left;
        font-size: 18px;
        font-weight: normal;
    }
    a {
        float: right;
        color: #666;
    }
}

#main {
    width: 1000px;
    margin: 0 auto;
    /*侧边栏开始*/
    .aside {
        float: left;
        width: 260px;
        .box-travaller {
            height: 295px;
            margin-bottom: 35px;

            .box-slider {
                ul {
                    position: relative;
                    li {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                        &:first-child {
                            display: block;
                        }
                        .img {
                            overflow: hidden;
                            height: 140px;
                        }
                        h3 {
                            height: 26px;
                            line-height: 26px;
                            margin: 10px 0 5px;

                            a {
                                font-size: 16px;
                                font-weight: normal;
                                color: #333;
                            }
                        }
                        p {
                            height: 60px;
                            line-height: 20px;
                            font-size: 14px;
                            color: #666;
                        }
                    }
                }
            }
        }
        .box-gonglve {
            margin-bottom: 30px;
            .box-bd {
                .img {
                    margin-bottom: 10px;
                    a {
                        img {
                            display: block;
                        }
                    }
                }
                h3 {
                    width: 260px;
                    height: 24px;
                    line-height: 24px;
                    margin: 10px 0 20px;
                    font-size: 16px;
                    font-weight: normal;
                    color: #333;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a {
                        color: #333;
                    }
                }
                ul {
                    li {
                        width: 260px;
                        height: 28px;
                        line-height: 28px;
                        font-size: 14px;
                        color: #666;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        a {
                            color: #ff9d00;
                        }
                    }
                }
            }
        }
        .action {
            .box-gonglve {
                .box-hd {
                    a {
                        color: #ff9d00;
                    }
                }
                .scrollbar {

                    ul {
                        height: 390px;
                        overflow: hidden;
                        li {
                            height: 40px;
                            padding: 5px;
                            margin-bottom: 5px;
                            &:hover {
                                background-color: #f8f8f8;
                            }
                            img {
                                display: block;
                                float: left;
                                margin-right: 8px;
                            }
                            p {
                                float: left;
                                width: 200px;
                                line-height: 20px;
                                color: #ff9d00;
                                font-size: 14px;
                            }
                            span {
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
        .jion {
            margin-bottom: 30px;
            .box-bd {
                ul {
                    margin-top: 10px;
                    li {
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #666;

                        a {
                            color: #666;
                            span {
                                float: right;
                                color: #999;
                            }
                            i {
                                margin-left: 6px;
                                padding-left: 8px;
                                font-size: 10px;
                                font-style: normal;
                                color: #d0122b;
                                background: url('../images/sprite.png') 0 -27px no-repeat
                            }
                        }
                        &:hover span {
                            color: #ff9d00;
                        }
                        &:hover a {
                            color: #ff9d00;
                        }
                    }
                }
            }
        }
        .news {
            margin-bottom: 30px;
            h3 {
                height: 35px;
                line-height: 35px;
                margin-bottom: 12px;
                font-size: 18px;
                font-weight: normal;
                color: #333;
            }
            ul {
                li {
                    height: 30px;
                    line-height: 30px;
                    a {
                        margin-left: 5px;
                        color: #666;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    /*侧边栏结束*/
    .wrapper {
        float: right;
        width: 700px;
        .hot {
            .hot-nav {
                height: 36px;
                line-height: 36px;
                font-size: 16px;
                padding-bottom: 8px;
                border-bottom: 1px solid #e4e4e4;
                .nav-bt {
                    float: left;
                    li {
                        float: left;
                        text-align: center;
                        &:first-child {
                            width: 170px;
                            padding-bottom: 6px;
                            border-bottom: 3px solid #ff9d00;
                            a {
                                font-size: 18px;
                                color: #ff9d00;
                                cursor: pointer;
                            }
                            span {
                                display: inline-block;
                                line-height: 20px;
                                margin-left: 7px;
                                padding: 0 10px 0 8px;
                                font-size: 12px;
                                color: #666;
                                vertical-align: 2px;
                                border: 1px solid #e5e5e5;
                                &:hover {
                                    color: #fff;
                                    border-color: #ff9d00;
                                    background-color: #ff9d00;
                                }
                                &:hover i {
                                    background-position: 0 -140px;
                                }
                                i {
                                    display: inline-block;
                                    width: 11px;
                                    height: 8px;
                                    margin: 6px 5px 0 0;
                                    background: url(../images/index-sprites9.png) no-repeat 0 -130px;
                                }
                            }
                        }
                        &:nth-child(2) {
                            padding: 0 10px 0 85px;

                            a {
                                font-size: 18px;
                                color: #333;
                                &:hover {
                                    color: #ff9d00;
                                }
                                img {
                                    float: left;
                                    height: 50px;
                                    margin-top: -23px;
                                    margin-left: -75px;
                                    vertical-align: middle;
                                }
                            }
                        }
                        &:nth-child(3) {
                            width: 120px;
                            font-size: 18px;
                            a {
                                color: #333;
                                &:hover {
                                    color: #ff9d00;
                                }
                            }
                        }
                        &:nth-child(4) {
                            margin-right: 20px;
                            a {
                                font-size: 12px;
                                color: #ff9d00;
                                i {
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    line-height: 16px;
                                    margin: 9px 4px 0 0;
                                    vertical-align: -3px;
                                    background: url(../images/index-sprites9.png) no-repeat -100px -30px;
                                }
                            }
                        }
                        &:nth-child(5) {
                            width: 140px;
                            a {
                                display: block;
                                height: 36px;
                                text-align: center;
                                color: #fff;
                                border-radius: 4px;
                                background-color: #ff9d00;
                                i {
                                    display: inline-block;
                                    width: 18px;
                                    height: 17px;
                                    margin-right: 5px;
                                    vertical-align: -3px;
                                    background: url(../images/index-sprites9.png) no-repeat 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
















































































































































/*正文结束*/