* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    position: relative;
    font-size: 12px;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

a {
    background-color: transparent;
    color: #ff9d00;
    cursor: pointer;
    text-decoration: none
}



#container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
} //

/*头部开始*/

#header {
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
}

.mfw-header {
    width: 1000px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    background-color: transparent;

    .logo {
        float: left;
        padding: 13px 0;
        a {
            display: block;
            width: 136px;
            height: 33px;
            background: url(../images/header-small-sprites.png) no-repeat 0 0;
        }
    }
    .nav {
        float: left;
        padding: 0 10px 0 25px;
        font-size: 14px;
        li {
            float: left;
            a {
                display: inline-block;
                padding: 0 16px;
                color: #333;
            }
        }
    }
    .login {
        float: right;
        height: 26px;
        padding: 16px 0;

        a {
            display: inline-block;
            float: left;
            width: 26px;
            height: 26px;
            color: #ff9d00;
            font-size: 14px;
        }
        .weibo-login,
        .qq-login,
        .weixin-login {
            width: 26px;
            height: 26px;
            line-height: 26px;
            margin-right: 10px;
        }
        .weibo-login {
            background: url(../images/header-sprites13.png) no-repeat 0 -50px;
        }
        .qq-login {
            background: url(../images/header-sprites13.png) no-repeat -30px -50px;
        }
        .weixin-login {
            background: url(../images/header-sprites13.png) no-repeat 0 -165px;
        }
        .login-in,
        .reg {
            display: inline-block;
            width: auto;
            line-height: 26px;
        }

        .split {
            display: inline-block;
            float: left;
            line-height: 26px;
            margin: 0 10px;
            color: #c9c9c9;
        }
    }
} //

/*头部结束*/

//
// banner图开始
.banner {
    position: relative;
    height: 550px;
    margin: 0 auto;
    a {
        display: block;
        height: 550px;
        overflow: hidden;
    }
}

// banner图结束
// 热门目的地开始
.common-title {
    margin-bottom: 25px;
    h2 {
        font-size: 26px;
        line-height: 26px;
        text-align: center;
        font-weight: normal;
        color: #333;
    }
}

.common-nav {
    height: 65px;
    text-align: center;
    vertical-align: middle;
    a {
        display: inline-block;
        line-height: 22px;
        margin: 0 22px 30px;
        padding-bottom: 10px;
        font-size: 18px;
        color: #333;
        text-align: center;
        &:hover {
            color: #ff9d00;
            border-bottom: 3px solid #ff9d00;
        }
    }
    span {
        display: inline-block;
        width: 1px;
        height: 15px;
        vertical-align: sub;
        background-color: #eee;
    }
}

.des {
    padding: 40px 0;
    .des-inner {
        width: 1000px;
        margin: 0 auto;

        .des-item {
            overflow: hidden;
            .col {
                float: left;
                width: 470px;
                line-height: 24px;
                &:first-child {
                    margin-right: 60px;
                }
                dl {
                    padding: 20px 0 20px 100px;
                    border-bottom: 1px dashed #eee;

                    dt {
                        float: left;
                        display: inline-block;
                        margin-left: -100px;
                        font-size: 16px;
                        color: #333;
                        a {
                            color: #333;
                            text-decoration: underline;
                            &:hover {
                                color: #ff9d00;
                            }
                        }
                    }
                    dd {
                        a {
                            margin-right: 10px;
                            font-size: 14px;
                            color: #666;
                            &:hover {
                                color: #ff9d00;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 热门目的地结束
// 当月推荐开始
.inner-box {
    width: 1000px;
    margin: 0 auto;
    .season-list {
        overflow: hidden;
    }
}

.common-list {

    .col3 {
        width: 323px;
    }

    .col4 {
        width: 238px;
        margin-right: 12px;
    }
}

.season {
    padding: 40px 0;
    background-color: #fafafa;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}



.list-item {
    position: relative;
    float: left;
    height: 220px;
    margin: 10px 10px 10px 0;
    font-size: 20px;
    background-color: #f2f2f2;
    a {
        display: block;
        width: auto;
        height: auto;
        img {
            display: block;
            width: 100%;
        }
    }
}


// 当月推荐结束
// 主题精选开始
.row {
    padding: 40px 0;
}

// 主题精选结束
// 全球精选开始
.global {
    padding: 40px 0;
    background-color: #fafafa;
    border-top: 1px solid #e4e4e4;
    .global-box {
        width: 1000px;
        margin: 0 auto;
        h2 {
            line-height: 30px;
            margin-bottom: 25px;
            font-size: 32px;
            font-weight: normal;
            color: #666;
            span {
                font-size: 14px;
                color: #a8a8a8;
            }
            a {
                display: inline-block;
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
}

.global-main {
    .item {
        margin-bottom: 50px;
        color: #666;
        overflow: hidden;
        dt {
            line-height: 22px;
            margin-bottom: 15px;
            font-size: 20px;
        }
        dd {
            margin-left: -22px;
            ul {
                float: left;
                width: 282px;
                margin-left: 22px;
                padding-left: 30px;
                line-height: 30px;
                font-size: 14px;
                li {
                    &.index {
                        float: left;
                        margin-left: -30px;
                        width: 30px;
                        padding: 0;
                        font-size: 20px;
                        font-family: Centaur, Times New Roman;
                        text-transform: uppercase;
                    }

                    .usa {
                        display: inline-block;
                        height: 18px;
                        line-height: 18px;
                        font-size: 12px;
                        background-color: #9f4d31;
                        font-family: sans-serif, Verdana, "Microsoft Yahei", Helvetica, "微软雅黑", "宋体";
                        padding: 1px 3px;
                        color: #fff;
                        vertical-align: middle;
                    }
                    a {
                        color: #666;
                        &:hover {
                            text-decoration: underline;
                        }
                        span {
                            font-family: Arial;
                            color: #a8a8a8;
                            word-wrap: break-word;
                            word-break: normal;
                        }
                    }
                    i {
                        display: inline-block;
                        width: 32px;
                        height: 14px;
                        line-height: 30px;
                        vertical-align: middle;
                        margin-left: 5px;
                        margin-top: -2px;
                        background: url(../images/plaInd-sprite3.png) no-repeat -555px 0;
                        &.china {
                            height: 20px;
                            background: url(../images/flag.jpg) no-repeat;
                        }
                    }
                }
            }
        }
    }
}



// 全球精选结束

/*脚部开始*/

#footer {
    clear: both;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 22px;
    color: #c2c2c2;
    background-color: #3c3c3c;
    .footer-content {
        width: 1000px;
        margin: 0 auto;
        .ft-info {
            padding: 30px 8px 40px;
            border-bottom: 1px solid #575a5b;
            overflow: hidden;
            dl {
                float: left;
                width: 200px;
                margin-right: 68px;
                &.service {
                    width: 135px;
                    margin-right: 80px;
                    dt {
                        text-align: center;
                    }
                }
                dt {
                    height: 30px;
                    font-size: 14px;
                }
                dd {
                    strong {
                        color: #ff9d00;
                        font-weight: normal;
                    }
                    a {
                        color: #c2c2c2;
                        &.heightlight {
                            color: #ff9d00;
                            &:hover {
                                color: #ff9d00;
                            }
                        }
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                ul {
                    width: 170px;
                    li {

                        float: left;
                        width: 85px;
                        &:last-child {
                            clear: left;
                        }
                        a {
                            color: #c2c2c2;
                            &.heightlight {
                                color: #ff9d00;
                                &:hover {
                                    color: #ff9d00;
                                }
                            }
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
                &.ewm {
                    float: right;
                    width: 230px;
                    padding-top: 22px;
                    line-height: 1.4em;
                    margin: 0;

                    dd {
                        float: right;
                        width: 100px;
                        margin: 0;
                        text-align: center;
                        .fwh {
                            display: block;
                            height: 90px;
                            margin: 0 0 8px 6px;
                            background: url(../images/qr_tejia4.png) no-repeat;
                        }
                        .dyh {
                            display: block;
                            height: 90px;
                            margin: 0 0 8px 6px;
                            background: url(../images/qr_mfw4.gif) no-repeat;
                        }
                        &:last-child {
                            margin-right: 30px;
                        }
                    }
                }
                &.social {
                    clear: both;
                    width: 100%;
                    margin: 0 auto;
                    padding-top: 25px;
                    text-align: center;
                    dt {
                        height: 30px;
                        line-height: 30px;
                        font-size: 16px;
                    }
                    dd {
                        padding: 5px 0;
                        a {
                            margin: 0 6px;
                        }
                        .weibo {
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            background: url(../images/mfw-footer-sprite5.png) no-repeat 0 0;
                        }
                        .qqt {
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            background: url(../images/mfw-footer-sprite5.png) no-repeat -30px 0;
                        }
                        .qzone {
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            background: url(../images/mfw-footer-sprite5.png) no-repeat -60px 0;
                        }
                    }
                }
            }
        }
        .links {
            padding: 17px 0 17px 8px;
            border-bottom: 1px solid #575a5b;
            a {
                display: inline-block;
                margin-right: 12px;
                color: #c2c2c2;
                &:hover {
                    color: #fff;
                }
            }
        }
        .copyright {
            padding: 12px 0;
            >a {
                float: left;
                color: #c2c2c2;
                .mfw-logo {
                    float: left;
                    margin: 2px 20px 0 0;
                    width: 136px;
                    height: 39px;
                    background: url(../images/mfw-footer-sprite5.png) no-repeat 0 -30px;
                }
            }
            p {
                a {
                    color: #c2c2c2;
                }
                .heightlight {
                    margin-left: 5px;
                    color: #ff9d00;
                }
                span {
                    color: #ff9d00;
                }
            }
            .safety {
                float: right;
                padding: 5px 8px 0 0;
                a {
                    float: left;
                    width: 90px;
                    height: 30px;
                    margin-left: 10px;
                    background: url(../images/mfw-footer-sprite5.png) no-repeat;
                }
                .s-a {
                    background-position: 0 -70px;
                }
                .s-b {
                    background-position: 0 -110px;
                }
                .s-c {
                    background-position: 0 -150px;
                }
            }
        }
    }
}

//

/*脚部结束*/