@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  position: relative;
  font-size: 12px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti; }

a {
  text-decoration: none; }

#container {
  width: 100%;
  margin: 0 auto;
  min-height: 1000px; }

/*头部开始*/
#header {
  margin: 0 auto;
  box-shadow: 0 2px 2px #ddd; }

.mfw-header {
  width: 1000px;
  height: 58px;
  line-height: 58px;
  margin: 0 auto;
  background-color: #fff; }
  .mfw-header .logo {
    float: left;
    padding: 13px 0; }
    .mfw-header .logo a {
      display: block;
      width: 136px;
      height: 33px;
      background: url(../images/header-small-sprites.png) no-repeat 0 0; }
  .mfw-header .nav {
    float: left;
    padding: 0 10px 0 25px;
    font-size: 14px; }
    .mfw-header .nav li {
      float: left; }
      .mfw-header .nav li a {
        display: inline-block;
        padding: 0 16px;
        color: #333; }
  .mfw-header .login {
    float: right;
    height: 26px;
    padding: 16px 0; }
    .mfw-header .login a {
      display: inline-block;
      float: left;
      width: 26px;
      height: 26px;
      color: #ff9d00;
      font-size: 14px; }
    .mfw-header .login .weibo-login,
    .mfw-header .login .qq-login,
    .mfw-header .login .weixin-login {
      width: 26px;
      height: 26px;
      line-height: 26px;
      margin-right: 10px; }
    .mfw-header .login .weibo-login {
      background: url(../images/header-sprites13.png) no-repeat 0 -50px; }
    .mfw-header .login .qq-login {
      background: url(../images/header-sprites13.png) no-repeat -30px -50px; }
    .mfw-header .login .weixin-login {
      background: url(../images/header-sprites13.png) no-repeat 0 -165px; }
    .mfw-header .login .login-in,
    .mfw-header .login .reg {
      display: inline-block;
      width: auto;
      line-height: 26px; }
    .mfw-header .login .split {
      display: inline-block;
      float: left;
      line-height: 26px;
      margin: 0 10px;
      color: #c9c9c9; }

/*头部结束*/
/*轮播开始*/
.active {
  box-shadow: 0 0 0 2px #ff9d00;
  border-radius: 0 5px 0 0; }

#slider {
  position: relative;
  margin: 0 auto 20px; }
  #slider #slider-box {
    height: 421px; }
  #slider .show {
    position: relative; }
    #slider .show li {
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
      #slider .show li img {
        height: 421px; }
      #slider .show li .date {
        position: absolute;
        top: 20px;
        left: 130px;
        font-size: 20px;
        color: #fff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9); }
        #slider .show li .date .day {
          font-size: 30px;
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9); }
        #slider .show li .date h3 {
          font-size: 20px;
          font-weight: normal; }
      #slider .show li p {
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: -263px;
        font-size: 14px;
        color: #fff; }
        #slider .show li p a {
          color: #ff9900; }
    #slider .show .first {
      display: block; }
  #slider #slider-small {
    position: absolute;
    right: 5%;
    top: 4%; }
    #slider #slider-small .side-slider {
      position: relative;
      width: 110px; }
      #slider #slider-small .side-slider li {
        margin-bottom: 5px; }
        #slider #slider-small .side-slider li img {
          display: block;
          width: 100%;
          height: 62px;
          margin: 0 auto;
          border-radius: 0 5px 0 0; }
    #slider #slider-small .more {
      display: block;
      width: 110px;
      height: 35px;
      margin-top: 15px;
      background: url(../images/index-sprites9.png) no-repeat -60px -50px; }
  #slider #search {
    position: absolute;
    left: 50%;
    bottom: 12%;
    width: 538px;
    height: 70px;
    margin-left: -269px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6); }
    #slider #search .search-check {
      height: 26px;
      line-height: 26px;
      margin-bottom: 7px; }
      #slider #search .search-check > ul > li {
        float: left;
        height: 26px;
        line-height: 26px;
        margin-right: 20px;
        font-size: 14px;
        color: #fff;
        cursor: pointer; }
        #slider #search .search-check > ul > li > i {
          display: inline-block;
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-right: 5px;
          background: url(../images/header-sprites13.png) no-repeat -60px -110px; }
    #slider #search .search-input {
      float: left;
      height: 36px;
      line-height: 36px; }
      #slider #search .search-input input {
        width: 450px;
        height: 36px;
        padding-left: 20px;
        color: #666;
        outline: none;
        border: none;
        border-radius: 5px; }
    #slider #search .search-button {
      float: left;
      margin-left: 5px; }
      #slider #search .search-button a {
        display: block;
        width: 40px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        background-color: #ff9d00;
        border-radius: 4px; }
        #slider #search .search-button a i {
          display: inline-block;
          width: 24px;
          height: 24px;
          vertical-align: middle;
          background: url(../images/header-sprites13.png) no-repeat 0 -110px; }

/*轮播结束*/
/*正文开始*/
.box-hd {
  height: 35px;
  line-height: 35px;
  margin-bottom: 12px; }
  .box-hd .title {
    float: left;
    font-size: 18px;
    font-weight: normal; }
  .box-hd a {
    float: right;
    color: #666; }

#main {
  width: 1000px;
  margin: 0 auto;
  /*侧边栏开始*/
  /*侧边栏结束*/ }
  #main .aside {
    float: left;
    width: 260px; }
    #main .aside .box-travaller {
      height: 295px;
      margin-bottom: 35px; }
      #main .aside .box-travaller .box-slider ul {
        position: relative; }
        #main .aside .box-travaller .box-slider ul li {
          position: absolute;
          top: 0;
          left: 0;
          display: none; }
          #main .aside .box-travaller .box-slider ul li:first-child {
            display: block; }
          #main .aside .box-travaller .box-slider ul li .img {
            overflow: hidden;
            height: 140px; }
          #main .aside .box-travaller .box-slider ul li h3 {
            height: 26px;
            line-height: 26px;
            margin: 10px 0 5px; }
            #main .aside .box-travaller .box-slider ul li h3 a {
              font-size: 16px;
              font-weight: normal;
              color: #333; }
          #main .aside .box-travaller .box-slider ul li p {
            height: 60px;
            line-height: 20px;
            font-size: 14px;
            color: #666; }
    #main .aside .box-gonglve {
      margin-bottom: 30px; }
      #main .aside .box-gonglve .box-bd .img {
        margin-bottom: 10px; }
        #main .aside .box-gonglve .box-bd .img a img {
          display: block; }
      #main .aside .box-gonglve .box-bd h3 {
        width: 260px;
        height: 24px;
        line-height: 24px;
        margin: 10px 0 20px;
        font-size: 16px;
        font-weight: normal;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        #main .aside .box-gonglve .box-bd h3 a {
          color: #333; }
      #main .aside .box-gonglve .box-bd ul li {
        width: 260px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        color: #666;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        #main .aside .box-gonglve .box-bd ul li a {
          color: #ff9d00; }
    #main .aside .action .box-gonglve .box-hd a {
      color: #ff9d00; }
    #main .aside .action .box-gonglve .scrollbar ul {
      height: 390px;
      overflow: hidden; }
      #main .aside .action .box-gonglve .scrollbar ul li {
        height: 40px;
        padding: 5px;
        margin-bottom: 5px; }
        #main .aside .action .box-gonglve .scrollbar ul li:hover {
          background-color: #f8f8f8; }
        #main .aside .action .box-gonglve .scrollbar ul li img {
          display: block;
          float: left;
          margin-right: 8px; }
        #main .aside .action .box-gonglve .scrollbar ul li p {
          float: left;
          width: 200px;
          line-height: 20px;
          color: #ff9d00;
          font-size: 14px; }
        #main .aside .action .box-gonglve .scrollbar ul li span {
          color: #666; }
    #main .aside .jion {
      margin-bottom: 30px; }
      #main .aside .jion .box-bd ul {
        margin-top: 10px; }
        #main .aside .jion .box-bd ul li {
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          color: #666; }
          #main .aside .jion .box-bd ul li a {
            color: #666; }
            #main .aside .jion .box-bd ul li a span {
              float: right;
              color: #999; }
            #main .aside .jion .box-bd ul li a i {
              margin-left: 6px;
              padding-left: 8px;
              font-size: 10px;
              font-style: normal;
              color: #d0122b;
              background: url("../images/sprite.png") 0 -27px no-repeat; }
          #main .aside .jion .box-bd ul li:hover span {
            color: #ff9d00; }
          #main .aside .jion .box-bd ul li:hover a {
            color: #ff9d00; }
    #main .aside .news {
      margin-bottom: 30px; }
      #main .aside .news h3 {
        height: 35px;
        line-height: 35px;
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: normal;
        color: #333; }
      #main .aside .news ul li {
        height: 30px;
        line-height: 30px; }
        #main .aside .news ul li a {
          margin-left: 5px;
          color: #666; }
          #main .aside .news ul li a:hover {
            text-decoration: underline; }
  #main .wrapper {
    float: right;
    width: 700px; }
    #main .wrapper .hot .hot-nav {
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid #e4e4e4; }
      #main .wrapper .hot .hot-nav .nav-bt {
        float: left; }
        #main .wrapper .hot .hot-nav .nav-bt li {
          float: left;
          text-align: center; }
          #main .wrapper .hot .hot-nav .nav-bt li:first-child {
            width: 170px;
            padding-bottom: 6px;
            border-bottom: 3px solid #ff9d00; }
            #main .wrapper .hot .hot-nav .nav-bt li:first-child a {
              font-size: 18px;
              color: #ff9d00;
              cursor: pointer; }
            #main .wrapper .hot .hot-nav .nav-bt li:first-child span {
              display: inline-block;
              line-height: 20px;
              margin-left: 7px;
              padding: 0 10px 0 8px;
              font-size: 12px;
              color: #666;
              vertical-align: 2px;
              border: 1px solid #e5e5e5; }
              #main .wrapper .hot .hot-nav .nav-bt li:first-child span:hover {
                color: #fff;
                border-color: #ff9d00;
                background-color: #ff9d00; }
              #main .wrapper .hot .hot-nav .nav-bt li:first-child span:hover i {
                background-position: 0 -140px; }
              #main .wrapper .hot .hot-nav .nav-bt li:first-child span i {
                display: inline-block;
                width: 11px;
                height: 8px;
                margin: 6px 5px 0 0;
                background: url(../images/index-sprites9.png) no-repeat 0 -130px; }
          #main .wrapper .hot .hot-nav .nav-bt li:nth-child(2) {
            padding: 0 10px 0 85px; }
            #main .wrapper .hot .hot-nav .nav-bt li:nth-child(2) a {
              font-size: 18px;
              color: #333; }
              #main .wrapper .hot .hot-nav .nav-bt li:nth-child(2) a:hover {
                color: #ff9d00; }
              #main .wrapper .hot .hot-nav .nav-bt li:nth-child(2) a img {
                float: left;
                height: 50px;
                margin-top: -23px;
                margin-left: -75px;
                vertical-align: middle; }
          #main .wrapper .hot .hot-nav .nav-bt li:nth-child(3) {
            width: 120px;
            font-size: 18px; }
            #main .wrapper .hot .hot-nav .nav-bt li:nth-child(3) a {
              color: #333; }
              #main .wrapper .hot .hot-nav .nav-bt li:nth-child(3) a:hover {
                color: #ff9d00; }
          #main .wrapper .hot .hot-nav .nav-bt li:nth-child(4) {
            margin-right: 20px; }
            #main .wrapper .hot .hot-nav .nav-bt li:nth-child(4) a {
              font-size: 12px;
              color: #ff9d00; }
              #main .wrapper .hot .hot-nav .nav-bt li:nth-child(4) a i {
                display: inline-block;
                width: 16px;
                height: 16px;
                line-height: 16px;
                margin: 9px 4px 0 0;
                vertical-align: -3px;
                background: url(../images/index-sprites9.png) no-repeat -100px -30px; }
          #main .wrapper .hot .hot-nav .nav-bt li:nth-child(5) {
            width: 140px; }
            #main .wrapper .hot .hot-nav .nav-bt li:nth-child(5) a {
              display: block;
              height: 36px;
              text-align: center;
              color: #fff;
              border-radius: 4px;
              background-color: #ff9d00; }
              #main .wrapper .hot .hot-nav .nav-bt li:nth-child(5) a i {
                display: inline-block;
                width: 18px;
                height: 17px;
                margin-right: 5px;
                vertical-align: -3px;
                background: url(../images/index-sprites9.png) no-repeat 0 0; }

/*正文结束*/
