* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  position: relative;
  font-size: 12px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti; }

a {
  background-color: transparent;
  color: #ff9d00;
  cursor: pointer;
  text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%; }

#container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/30.jpg) no-repeat;
  background-size: cover;
  overflow: hidden; }
  #container .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -185px;
    margin-top: -280px;
    width: 370px;
    height: 100px; }
    #container .wrapper .logo {
      width: 370px; }
      #container .wrapper .logo a {
        display: block;
        width: 75px;
        height: 90px;
        margin: 0 auto;
        background: url(../images/logo-new.png) no-repeat; }
    #container .wrapper .signup-box {
      width: 370px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
      #container .wrapper .signup-box .inner {
        width: 370px;
        padding-top: 26px; }
        #container .wrapper .signup-box .inner .form {
          width: 320px;
          margin: 0 auto;
          margin-top: 10px; }
          #container .wrapper .signup-box .inner .form input {
            width: 306px;
            height: 28px;
            line-height: 28px;
            padding: 6px 0 6px 12px;
            font-size: 14px;
            color: #666;
            outline: none;
            border: 1px solid #d8d8d8;
            box-shadow: 0 0 5px #fff;
            border-radius: 4px; }
          #container .wrapper .signup-box .inner .form button {
            width: 320px;
            height: 42px;
            line-height: 42px;
            margin-top: 12px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border: 0;
            outline: none;
            border-radius: 5px;
            background-color: #ffa800; }
          #container .wrapper .signup-box .inner .form p {
            padding-top: 12px;
            text-align: right;
            color: #ccc; }
            #container .wrapper .signup-box .inner .form p a {
              margin-left: 2px;
              color: #999;
              font-size: 12px; }
              #container .wrapper .signup-box .inner .form p a:hover {
                color: #3f200f;
                text-decoration: underline; }
        #container .wrapper .signup-box .inner .link {
          margin-top: 30px; }
          #container .wrapper .signup-box .inner .link p {
            padding: 15px 0 20px 24px;
            font-size: 12px;
            color: #999;
            border-top: 1px solid #ebebeb; }
          #container .wrapper .signup-box .inner .link .link-logo {
            width: 348px;
            height: 84px;
            padding: 0 0 0 25px; }
            #container .wrapper .signup-box .inner .link .link-logo a {
              display: inline-block;
              width: 58px;
              height: 84px;
              margin-right: 25px;
              font-size: 12px;
              color: #999;
              text-align: center; }
              #container .wrapper .signup-box .inner .link .link-logo a i {
                display: block;
                width: 42px;
                height: 42px;
                margin: 0 0 4px 10px;
                cursor: pointer;
                background: url(../images/c_icon3.gif) no-repeat; }
              #container .wrapper .signup-box .inner .link .link-logo a .qq {
                background-position: -42px 0; }
              #container .wrapper .signup-box .inner .link .link-logo a .wx {
                background-position: -294px 0; }
    #container .wrapper .bottom {
      width: 140px;
      margin: 10px auto;
      padding: 4px 0;
      font-size: 12px;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 15px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
      #container .wrapper .bottom a {
        margin-left: 6px; }
        #container .wrapper .bottom a:hover {
          text-decoration: underline; }
