* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  position: relative;
  font-size: 12px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti; }

a {
  background-color: transparent;
  color: #ff9d00;
  cursor: pointer;
  text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%; }

#container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/30.jpg) no-repeat;
  background-size: cover;
  overflow: hidden; }
  #container .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -185px;
    margin-top: -280px;
    width: 370px;
    height: 100px; }
    #container .wrapper .logo {
      width: 370px; }
      #container .wrapper .logo a {
        display: block;
        width: 75px;
        height: 90px;
        margin: 0 auto;
        background: url(../images/logo-new.png) no-repeat; }
    #container .wrapper .signup-box {
      width: 370px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
      #container .wrapper .signup-box .inner {
        width: 370px;
        padding-bottom: 20px; }
        #container .wrapper .signup-box .inner .hd {
          height: 56px;
          line-height: 56px;
          padding: 0 26px;
          font-size: 18px;
          color: #666;
          border-bottom: 1px solid #D8D8D8;
          border-radius: 5px 5px 0 0;
          background-color: #f5f5f5; }
        #container .wrapper .signup-box .inner .form {
          width: 320px;
          margin: 0 auto;
          padding-top: 15px;
          overflow: hidden; }
          #container .wrapper .signup-box .inner .form input {
            width: 306px;
            height: 28px;
            line-height: 28px;
            margin-top: 10px;
            padding: 6px 0 6px 12px;
            font-size: 14px;
            color: #666;
            outline: none;
            border: 1px solid #d8d8d8;
            box-shadow: 0 0 5px #fff;
            border-radius: 4px; }
          #container .wrapper .signup-box .inner .form .phone-check {
            padding-top: 10px; }
            #container .wrapper .signup-box .inner .form .phone-check .check-button {
              float: left;
              display: inline-block;
              width: 120px;
              height: 40px;
              line-height: 40px;
              margin-right: 10px;
              text-align: center;
              color: #333;
              border: 1px solid #dfdfdf;
              border-radius: 4px; }
            #container .wrapper .signup-box .inner .form .phone-check .check-num {
              float: right;
              width: 174px;
              margin: 0; }
          #container .wrapper .signup-box .inner .form button {
            width: 320px;
            height: 42px;
            line-height: 42px;
            margin-top: 12px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border: 0;
            outline: none;
            border-radius: 5px;
            background-color: #ffa800; }
